.footer-background {
  background-color: var(--color-dark);
  color: white;
  padding: 40px 38px;
  gap: 447px;

  height: 197px;
}
.logo-bold {
  font-weight: 700;
  font-size: 24px;
}

.logo-thin {
  font-weight: 300;
  font-size: 24px;
}
.copyright {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

a {
  color: white;
}

.links {
  display: flex;
  justify-content: flex-end;
}
