.nav-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.logo-bold {
  font-weight: 700;
  font-size: 32px;
}

.logo-thin {
  font-weight: 300;
  font-size: 32px;
}

.nav-btn {
  color: var(--color-dark-purple);

  font-weight: 500;
  font-size: 24px;
}
