.large-btn {
  gap: 10px;
  width: 516px;
  height: 140px;
  background: var(--color-dark-purple);
  border: 1px solid #79797c;
  border-radius: 12px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;

  color: #ffffff;
}

.Medium-btn {
  padding: 36px 61px;
  gap: 10px;
  color: #ffffff;
  width: 371px;
  height: 116px;

  background: var(--color-dark-purple);
  border-radius: 12px;
  font-family: var(--font);
  font-weight: 800;
  font-size: 36px;
}
