.section-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1500px;
  max-height: 1500px;
  width: 100%;
}
.gape-container {
  padding-top: 218px;
  padding-bottom: 218px;
}
.titles-content {
  width: 100%;
}
.swiper-content {
  width: 100%;
}
.title {
  font-family: var(--font);
  font-size: 64px;
  margin: 5px;
}

.btn-content {
  padding: 55px;
  max-height: 52px;
}
