.project-container {
  display: flex;

  justify-content: center;
  gap: 50px;
  margin-right: auto;
  margin-left: auto;
  height: 543px;
  max-width: 1500px;
  width: 100%;
}
.projects-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-info {
  transition: transform 0.3s;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
  background: #00000070;
  transform: translateY(100%);
}
.project {
  background-color: var(--color-dark-purple);
  width: 306px;
  height: 390px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.project-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 55px;
  padding-top: 55px;
}

.projects-page-title {
  padding-left: 55px;
  padding-top: 65px;
}
img {
  width: 100%;
  border-radius: 25px;
}
.projects-link {
  color: var(--color-dark-purple);
  font-size: 24px;
  max-width: 1661px;
  display: flex;
  justify-content: end;
  padding-bottom: 85px;
}

.gradient-title-projects {
  background: linear-gradient(
    90deg,
    #893bff 2.68%,
    #a8e4a0 6.5%,
    #8cc5ff 10.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 24px;
  margin: 0;
  padding-bottom: 15px;
}
.title-projects {
  font-size: 64px;
  margin: 0;
}
