.project {
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 400px;
  position: absolute;
  overflow: hidden;

  &:hover {
    .project-content {
      transform: translateY(0);
    }
  }

  & img {
    border-radius: 25px;
    max-width: 100%;
    display: flex;
  }

  &-content {
    transition: transform 0.3s;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
    background: #00000070;
    transform: translateY(100%);
  }
}

.project-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-right: auto;
  margin-left: auto;
  height: 700px;
  max-width: 1500px;
  width: 100%;
}
