.title-container {
  width: 724px;
  padding-left: 55px;
}
.gradient-title {
  background: linear-gradient(
    90deg,
    #893bff 2.68%,
    #a8e4a0 8.5%,
    #8cc5ff 20.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.subtitle {
  font-size: 20px;
}

.background-beta-purple {
  background: rgba(201, 131, 253, 0.35);
  width: 1550px;
  height: 708px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.background-beta-purple-conclusion {
  background: rgba(201, 131, 253, 0.35);
  width: 1550px;
  height: 408px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.background-beta-green {
  background: rgba(168, 228, 160, 0.35);
  width: 1550px;
  height: 756px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.background-beta-blue {
  background: rgba(32, 143, 255, 0.35);
  width: 1550px;
  height: 3550px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.beta-content {
  padding-top: 95px;
  padding-bottom: 95px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 80px;
}

.number-title {
  color: rgba(201, 131, 253, 0.35);
  -webkit-text-stroke: 2px black;
  font-size: 64px;
  margin: 0;
}

.number-title-green {
  color: rgba(168, 228, 160, 0.35);
  -webkit-text-stroke: 2px black;
  font-size: 64px;
  margin: 0;
}
.number-title-blue {
  color: rgba(32, 143, 255, 0.35);
  -webkit-text-stroke: 2px black;
  font-size: 64px;
  margin: 0;
}

.beta-title-container {
  display: flex;
  padding-left: 25px;
}
.beta-title {
  font-size: 64px;
  margin: 0;
}
.beta-info-container {
  display: flex;
  gap: 25px;

  padding-top: 25px;
  padding-bottom: 25px;
}
.beta-info-conclusion {
  display: flex;
  gap: 25px;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.beta-info-container-blue {
  display: flex;
  gap: 50px;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 25px;
  padding-left: 80px;
}
.beta-info-container-solving {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 80px;
}
.beta-info-container-solving-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  gap: 50px;
}
.info-purple {
  padding: 10px;
  background-color: rgba(201, 131, 253, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 347px;
}
.info-purple-conclusion {
  padding: 20px;
  background-color: rgba(201, 131, 253, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 1327px;
}
.info-green {
  padding: 10px;
  background-color: rgba(168, 228, 160, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 668px;
}

.info-blue {
  padding: 10px;
  background-color: rgba(32, 143, 255, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 205px;
}
.info-blue-challenges {
  padding: 10px;
  background-color: rgba(32, 143, 255, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 418px;
}
.info-blue-interface {
  padding: 25px;
  background-color: rgba(32, 143, 255, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 500px;
}
.info-blue-defining {
  padding: 10px;
  background-color: rgba(32, 143, 255, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 500px;
}
.info-blue-solving {
  padding: 10px;
  background-color: rgba(32, 143, 255, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 1264px;
}
.info-blue-solving-user {
  padding: 10px;
  background-color: rgba(32, 143, 255, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 528px;
}
.info-blue-solving-user-link {
  padding: 45px;
  background-color: rgba(32, 143, 255, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 276px;
}
.beta-text {
  line-height: 25px;
  padding-right: 10px;
  padding-left: 10px;
}
.text-title {
  display: flex;
  justify-content: center;
}

.disclaimer-info {
  padding: 10px;
  background-color: rgba(201, 131, 253, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 738px;
}

.disclaimer-text {
  line-height: 25px;
  font-size: 16px;
}

.img-container {
  width: 529px;
  height: 492px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img-container-services {
  width: 586px;
  height: 535px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.beta-container {
  display: flex;
  gap: 60px;
  padding-top: 50px;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}
.service-img {
  padding-left: 66px;
  padding-top: 67px;
}
.resoluta-img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.solving-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resoluta-card {
  width: 533px;
  height: 500px;
  border-radius: 25px;
  overflow: hidden;
  /*border: 8px solid #030303;*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}
.resoluta-card-wireframes {
  width: 696px;
  height: 607px;
  border-radius: 25px;
  overflow: hidden;
  /*border: 8px solid #030303;*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}
.resoluta-card-mockup {
  width: 557px;
  height: 398px;
  border-radius: 25px;
  overflow: hidden;
  /*border: 8px solid #030303;*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}
.resoluta-card-final {
  width: 1237px;
  height: 769px;
  border-radius: 25px;
  overflow: hidden;
  /*border: 8px solid #030303;*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}
.resoluta-card-userflow {
  width: 706px;
  height: 500px;
  border-radius: 25px;
  overflow: hidden;
  /*border: 8px solid #030303;*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.interface-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.link-beta {
  color: var(--color-dark-purple);
  font-size: 24px;
  max-width: 1690px;
  display: flex;
  justify-content: end;
  padding-bottom: 85px;
}
.link-projects {
  list-style-type: none;
}
