.contact {
  width: 100%;
}
.btn {
  justify-content: center;
}

.gradient-circle {
  max-width: 1500px;
  height: 764px;

  background: radial-gradient(circle at top left, #893bff, #ffff, transparent),
    radial-gradient(circle at bottom right, #893bff, #ffff, transparent);

  background-repeat: no-repeat;
}

.icons {
  display: flex;
  justify-content: center;
}
