.contact {
  width: 100%;
}
.btn {
  justify-content: center;
}
.content-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 147px;
  align-items: center;
  justify-content: space-between;
}

.gradient-circle {
  height: 764px;

  background: radial-gradient(circle at top left, #893bff, #ffff, transparent),
    radial-gradient(circle at bottom right, #893bff, #ffff, transparent);

  background-repeat: no-repeat;
}

.icons {
  display: flex;
  justify-content: center;
}

.contact-btn {
  padding: 42px;
}
.linkedin-icon {
  color: pink;
}
