:root {
  --color-dark-purple: #4c2882;
  --color-light-purple: #893bff;
  --color-dark-green: #317873;
  --color-light-green: #a8e4a0;
  --color-dark-blue: #0f52ba;
  --color-light-blue: #007fff;
  --color-white: #fffdfd;
  --font: "Inter", sans-serif;
  --font-weight-regular: 400px;
  --font-weight-thin: 300px;
  --font-weight-semibold: 600px;
  --font-weight-bold: 700px;
  --font-size-xlarge: 64px;
}
