:root {
  --color-dark-purple: #4c2882;
  --color-light-purple: #893bff;
  --color-dark-green: #317873;
  --color-light-green: #a8e4a0;
  --color-dark-blue: #0f52ba;
  --color-light-blue: #007fff;
  --color-white: #fffdfd;
}
