button {
  font-family: var(--font);
  font-weight: 600;
  border-radius: 50px;
  padding: 20px 30px;
  margin-left: 35px;
  font-size: 16px;
  background-color: #eeeaea;
  border: none;
}

.skills-content {
  background-color: #eeeaea;
  max-width: 535px;
  max-height: 69px;
  border-radius: 40px;
  padding: 10px 25px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-purple {
  background-color: var(--color-light-purple);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-blue {
  background-color: var(--color-light-blue);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-green {
  background-color: var(--color-light-green);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hardskills-content {
  margin-top: 20px;
  width: 570px;
  height: 616px;
  background: rgba(151, 71, 255, 0.45);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding-right: 25px;
}

.softskills-content {
  margin-top: 20px;
  width: 585px;
  height: 402px;
  background: rgba(168, 228, 160, 0.45);
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.education-content {
  margin-top: 20px;
  width: 585px;
  height: 309px;

  background: rgba(0, 127, 255, 0.45);
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ba-info {
  width: 517px;
  height: 93px;
  margin-top: 25px;
  padding: 10px 5px;
  background: rgba(0, 127, 255, 0.45);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-family: var(--font);
  font-size: 16px;
}
